<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>sinSimple</title>
    <link href="/css/mystyle.css" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script type="text/javascript" src="/javascript/app.js"></script>
    <!-- Le styles -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Crowd Compass Dashboard</a>
          <div class="nav-collapse collapse">
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container">
      <!-- Main hero unit for a primary message -->
      <div class="hero-unit clearfix">
        <h2>We Are:</h2>

        <div class="output0">
          <h2 class="special"></h2>
        </div>
        <div class="output1">
          <h2 class="special"></h2>
        </div>
        <div class="output2">
          <h2 class="special"></h2>
        </div>
        <div class="output3">
          <h2 class="special"></h2>
        </div>
        <div class="output4">
          <h2 class="special"></h2>
        </div>
        <div class="output5">
          <h2 class="special"></h2>
        </div>
        <div class="output6">
          <h2 class="special"></h2>
        </div>
        <div class="output7">
          <h2 class="special"></h2>
        </div>
        <!-- <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p> -->
      </div>
      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
            <p><a class="btn detail" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>

    <script type="text/javascript">
    $( document ).click(function() {
      $('.special').effect( "bounce", "slow" );
    });
  </script>
    <script src="/bootstrap/js/bootstrap.js"></script>
  </body>
</html>